@model Feedback
@{
    ViewData["Title"] = "Feedback";
}

<h1>Feedback</h1>
<form method="post" asp-controller="Feedback" asp-action="Check">
    <label asp-for="UserName"></label>
    <input asp-for="UserName"/>
    <span asp-validation-for="UserName"></span>
    
    <label asp-for="UserSurname"></label>
    <input asp-for="UserSurname"/>
    <span asp-validation-for="UserSurname"></span>
    
    <label asp-for="Age"></label>
    <input asp-for="Age"/>
    <span asp-validation-for="Age"></span>
    
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email"></span>
    
    <label asp-for="Message"></label>
    <input asp-for="Message"/>
    <span asp-validation-for="Message"></span>
    
    <input type="submit" value="Send"/>
</form>